<div *ngIf="loading">Loading poem...</div>

<div *ngIf="!loading && poem" class="poem-container">

  <div class="poem-header">
        <button (click)="goBack()">back</button>
        <p>Score: {{ score }} / {{ guesses }}</p>
        <h2>{{ poem.title }}</h2>
  </div>
  <!-- <p>by {{ poem.author }}</p> -->
  <div class="poem-lines">
    <p *ngFor="let line of poem.lines">{{ line }}</p>
  </div>
  
  <div class="guessing">
    <input 
      type="text" 
      [(ngModel)]="userInput" 
      placeholder="Guess the author..."
      (keyup.enter)="submitInput()" />
    <p>You typed: {{ userInput }}</p>
  </div>
  
</div>

<div *ngIf="!loading && !poem">
  <p>Error, check the console for more information.</p>
</div>