<div *ngIf="loading">Loading poem...</div>

<div *ngIf="!loading && poem" class="poem-container">
  <h2>{{ poem.title }}</h2>
  <!-- <p>by {{ poem.author }}</p> -->
  <div class="poem-lines">
    <p *ngFor="let line of poem.lines">{{ line }}</p>
  </div>
  
  <div class="guessing">
    <input 
      type="text" 
      [(ngModel)]="userInput" 
      placeholder="Type something..."
      (keyup.enter)="submitInput()" />
    <p>You typed: {{ userInput }}</p>
  </div>
  
  <button (click)="getRandomPoemByAuthor()">Get Another Poem</button>
</div>

<div *ngIf="!loading && !poem">
  <p>Error, check the console for more information.</p>
</div>