

.poem-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin-bottom: 1rem; 
}

.poem-header h2 {
    margin: 0;
    text-align: center;
    flex: 1;
  }

.poem-header button {
    position: absolute;
  left: 0;
  background-color: #cbbb82;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.2s;}


.poem-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: 'Courier New', sans-serif;

}

.poem-lines {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ece6d0;
    font-family: 'Courier New', sans-serif;
}

.guessing {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ece6d0;
    font-family: 'Courier New', sans-serif;
}

.guessing input {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Courier New', sans-serif;
}

